<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- code copy paste -->
    <div class="audio-recording-container">
      <!-- <h1 class="title">Audio Recording API Demo</h1> -->
      <div class="row justify-content-md-center">
        <h1 class="display-1 " style="margin-bottom: 100px;">🎶 Speech2Text 📑</h1>
      </div>
      <i class="start-recording-button fa fa-microphone fa-4x" aria-hidden="true"></i>
      <div class="recording-contorl-buttons-container hide">
        <i class="cancel-recording-button fa fa-times-circle-o fa-4x" aria-hidden="true"></i>
        <div class="recording-elapsed-time">
          <i class="red-recording-dot fa fa-circle fa-4x" aria-hidden="true"></i>
          <p class="elapsed-time"></p>
        </div>
        <i class="stop-recording-button fa fa-stop-circle-o fa-4x" aria-hidden="true"></i>
      </div>
      <div class="text-indication-of-audio-playing-container">
        <p class="text-indication-of-audio-playing hide">Audio is playing <span>.</span>
          <span>.</span>
          <span>.</span>
        </p>

        <p class="text-indication-of-audio-handling d-none">Audio is handling by server <span>.</span>
          <span>.</span>
          <span>.</span>
        </p>
      </div>
      <div class="text-transcribe container" style="margin-top: 50px">
        <div class="row">
          <div class="col-9">
            <div class="card">
                <div class="card-body" style="height: 300px;">
            <blockquote class="blockquote">
              <p class="mb-0 text-transcribe-content"></p>
            </blockquote>
        </div>
        </div>
          </div>
          <div class="col-3">
            <div class="card text-white bg-secondary">
              <h5 class="card-header">Settings <i class="fa fa-cog" aria-hidden="true"></i></h5>
                <div class="card-body">
                <div>
                  <input type="radio" value="vietnamese" name="language" checked>
                  <label for="vietnamese"> Vietnamese</label>
                  <input type="radio" value="english" name="language">
                  <label for="english"> English</label>
                </div>
                <div>
                  <input type="radio" value="whisper" name="model" checked>
                  <label for="english"> Whisper</label>
                  <input type="radio" value="w2v" name="model">
                  <label for="english"> Wav2vec</label>
                </div>
                <a class="btn btn-primary replay-btn">Replay <i class="fa fa-repeat" aria-hidden="true"></i>
</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay hide">
      <div class="browser-not-supporting-audio-recording-box">
        <p>To record audio, use browsers like Chrome and Firefox that support audio recording.</p>
        <button type="button" class="close-browser-not-supported-box">Ok.</button>
      </div>
    </div>
    <audio controls class="audio-element hide"></audio>
    <!-- end code copy paste -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <script type="text/javascript" src="{{ url_for('static',filename='js/recorder.js') }}"></script>
</html>